<div class="container">
    <div class="col-12">
        <div class="card text-center">
            <div class="card-header">
              JavaScript: Beginners
            </div>
            <div class="card-body">
              <h5 class="card-title">JavaScript for Beginners</h5>
              <p class="card-text">This blog explains basic concepts of JavaScript and was made with beginners in mind.</p>
              <a href="https://medium.com/@sashajax/the-easy-way-the-basics-javascript-variables-functions-381a6a97f3c6" class="btn btn-primary">Learn More</a>
            </div>
            <div class="card-footer text-muted">
              June 7th, 2018
            </div>
          </div>
    </div>
</div>
