<div>

  <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sasha J.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blogs">Blogs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- nav -->

  <div class="row p-4">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <!-- soft skills card -->
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Soft Skills
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Open to learn</li>
          <li class="list-group-item">Communication</li>
          <li class="list-group-item">Pair-Programming</li>
        </ul>
      </div>

      <!-- technical skills card -->
      <div class="card mt-3" style="width: 18rem;">
        <div class="card-header">
          Technical Skills
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Problem Solving</li>
          <li class="list-group-item">JavaScript</li>
          <li class="list-group-item">Nodejs</li>
        </ul>
      </div>

      <!-- school card -->
      <div class="card mt-3" style="width: 18rem;">
        <div class="card-header">
          School Details
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span style="font-weight:bold;">Major: </span>Computer Programming</li>
          <li class="list-group-item"><span style="font-weight:bold;">Year: </span>Junior</li>
          <li class="list-group-item"><span style="font-weight:bold;">GPA: </span>3.75</li>
          <li class="list-group-item"><span style="font-weight:bold;">School: </span>Herzing University</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>